receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

processors:
  batch:
    send_batch_size: 1024
    timeout: 5s

  memory_limiter:
    check_interval: 5s
    limit_percentage: 75
    spike_limit_percentage: 10

  resourcedetection:
    detectors: [gcp, env]
    timeout: 10s
    override: false

  resource:
    attributes:
      - key: service.name
        value: fastapi-todo-service
        action: upsert
      - key: service.namespace
        value: demo
        action: upsert
      - key: deployment.environment
        value: dev
        action: upsert

exporters:
  googlecloud:
    trace:
      endpoint: cloudtrace.googleapis.com:443

  debug:
    verbosity: normal

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, resourcedetection, resource, batch]
      exporters: [googlecloud, debug]

    metrics:
      receivers: [otlp]
      processors: [memory_limiter, resourcedetection, resource, batch]
      exporters: [googlecloud, debug]

    logs:
      receivers: [otlp]
      processors: [memory_limiter, resourcedetection, resource, batch]
      exporters: [googlecloud, debug]
