receivers:
  otlp:
    protocols:
      grpc:
      http:

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

processors:
  batch:
    send_batch_size: 1024
    timeout: 5s

  memory_limiter:
    check_interval: 5s
    limit_percentage: 75
    spike_limit_percentage: 10

  resource:
    attributes:
      - key: service.name
        value: fastapi-todo-service
        action: upsert
      - key: service.namespace
        value: demo  # TODO: 必要に応じて名前空間を変更
        action: upsert
      - key: deployment.environment
        value: dev   # TODO: 必要に応じて環境名を変更（dev/staging/prod等）
        action: upsert

exporters:
  googlecloud: {}

  debug:
    verbosity: normal

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, resource, batch]
      exporters: [googlecloud, debug]

    metrics:
      receivers: [otlp]
      processors: [memory_limiter, resource, batch]
      exporters: [googlecloud, debug]

    logs:
      receivers: [otlp]
      processors: [memory_limiter, resource, batch]
      exporters: [googlecloud, debug]
